<div class="row" style="margin: 20px 0">
    <nav aria-label="Page navigation">
        <span>共有{{page_data.total_count}}条记录 | 每页{{page_data.page_size}}条 | 共{{page_data.total_pages}}页 </span>
        <ul class="pagination pull-right" style="margin: -10px 0;">

            <li {% if page_data.lflag == 0 %} class="disabled" {% endif %}>
                <a {% if page_data.lflag == 1 %} href="/?p=1" {% endif %} aria-label="Previous">
                    <span aria-hidden="true">首页</span>
                </a>
            </li>

            <li {% if page_data.lflag == 0 %} class="disabled" {% endif %}>
                <a {% if page_data.lflag == 1 %} href="/?p={{page_data.cur_page - 1}} {% endif %}" aria-label="Previous">
                    <span aria-hidden="true">上一页</span>
                </a>
            </li>

            {% for idx in page_data.range %}
            <li {% if idx== page_data.cur_page %} class="active" {% endif %}><a href="/?p={{idx}}">{{idx}}</a></li>
            {% endfor %}
            <li {% if page_data.rflag == 0 %} class="disabled" {% endif %}>
                <a href="/?p={{page_data.cur_page + 1}}" aria-label="Next">
                    <span aria-hidden="true">下一页</span>
                </a>
            </li>
            <li {% if page_data.rflag == 0 %} class="disabled" {% endif %}>
                <a href="/?p={{page_data.total_pages}}" aria-label="Next">
                    <span aria-hidden="true">尾页</span>
                </a>
            </li>
        </ul>
    </nav>
</div>